# compiled output
 /dist
 /postgres-data

 # Logs
 logs
 *.log
 npm-debug.log*
 pnpm-debug.log*
 yarn-debug.log*
 yarn-error.log*
 lerna-debug.log*

 # OS
 .DS_Store

 # Tests
 /coverage
 /.nyc_output

 # IDEs and editors
 /.idea
 .idea
 .project
 .classpath
 .c9/
 *.launch
 .settings/
 *.sublime-workspace

 # IDE - VSCode
 .vscode/settings.json
 !.vscode/settings.json
 !.vscode/tasks.json
 !.vscode/launch.json
 !.vscode/extensions.json

 # Security reports
 gl-sast-report.json
 gl-dependency-scanning-report.json
 gl-container-scanning-report.json

.env.development
/node_modules/
/dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
